{% load dajaxice_templatetags %}
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="Sinchan Banerjee - computer scientist, UI designer, etc." />
		<meta name="keywords" content="sinchan, banerjee, sinchan banerjee, shinchan" />
		<meta name="author" content="Sinchan Banerjee" />
	 
		<title>
		Puzzlaef |
		{% block title %}
		{% endblock %}
		</title>

		<!-- latest jQuery direct from google's CDN -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Snippet|Didact+Gothic' rel='stylesheet' type='text/css'>
	    {% dajaxice_js_import %}
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
